ol {
    list-style-type: none;
    text-align: right;
    margin-right: 10%;
  }

li {
display: inline;
margin-right: 15px;
}


#fondo {
  background-color: white;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/ba1.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  size: 70%;

}


#logo {
  display: inline;
  justify-content: right;
}

#div1 {
  display: inline;
  justify-content: end;
}

#div2 {
  padding-top: 15%;
  padding-bottom: 15%;
  padding-right: 10%;
  text-align: right;
}

#div3 {
    background-color: rgb(58, 56, 62);
    text-align: left;
    font-size: 14px;
} 

#div4 {
  background-color: rgb(58, 56, 62);
} 

#div5 {
  background-color: #1c4359;
} 


.form {
  text-align: center;
}

.form p {
  text-align: center;
  font-size: large;
  
}

.card-text {
  text-align: left;
  
}

.label {
  text-decoration-color: gray;
}

#enviar {
  background-color:rgb(121, 188, 19);
  border-color:rgb(121, 188, 19);
}

#piepagina {
  padding-inline: 5%;
}

